extends layout

block content
    .container
    h1.text-center New Event!
    hr
    form(name="create-event", action=stage + '/createevent', method="post")
        h2.form-signin-heading Event's details

        label(for='inputTitle') Title
        input#inputTitle.form-control(name='title' type='text', placeholder='Event title', required='', autofocus='')

        label(for='inputLocation') Location
        input#inputLocation.form-control(name='location' type='text', placeholder='Location', required='')

        label(for='inputDate') Date
        input#inputDate.form-control(name='human_date' type='date', placeholder='', required='')

        label(for='inputTime') Time
        input#inputTime.form-control(name='human_time' type='time', placeholder='', required='')

        label(for='inputNumOfTickets') Number Of Tickets
        input#inputNumOfTickets.form-control(name='tickets' type='number', placeholder='', required='')

        button.btn.btn-lg.btn-primary.btn-block(type='submit') Create
