extends layout
block head-content
    meta(http-equiv='Content-type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(rel='stylesheet', type='text/css', href='https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css')
    script(type='text/javascript', language='javascript', src='https://code.jquery.com/jquery-1.12.4.js')
    script(type='text/javascript', language='javascript', src='https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js')
    script.init(type='text/javascript').
        var data = getDataFromParams(!{tableData});
        var stage = '!{stage}';
        $(document).ready(function () {

            var table = $('#example').DataTable(data);

            $('#example tbody').on('click', 'tr', function () {

                var data = table.row($(this)).data();
                location.href = stage + '/events/' + data[0];

                //alert(data[0]);
            });

            $('#myevents').on('click', function () {
                location.href = stage + '/myevents';
            });

            $('#mytickets').on('click', function () {
                location.href = stage + '/mytickets';
            });

            $('#searchevents').on('click', function () {
                location.href = stage + '/searchevents';
            });

        });

        function getDataFromParams(data) {
            if (data) {
                return data;
            } else {
                return '';
            }
        }

block content
    .container
        h1.text-center Welcome To CloudTickets!
        hr
        button#myevents.btn My Events
        button#mytickets.btn My Tickets
        button#searchevents.btn Search Events
        table#example.display(cellspacing='0', width='100%')
            thead
                tr
                    th ID
                    th Title
                    th Location
                    th Date
                    th Time
                    th Tickets
            tfoot
                tr
                    th ID
                    th Title
                    th Location
                    th Date
                    th Time
                    th Tickets
        h3.text-right.btn-link
            a(href=stage + '/logout') Log Out