extends layout
block head-content
  -  var hello = "שלום " + message
  -  var intro = "נשמח לראותכם בחתונתינו"

block content
  .container
    h2(dir='rtl')= hello
    br
    h4(dir='rtl')= intro
    form(action='/', method='post')
      div.form-group
        input#guest_id.form-control(type='hidden' value= id, name='id')
      div.form-group
        label(dir='rtl' for='inputNumOfAdults') מספר מבוגרים שמגיעים (מעל גיל 10)
        select#inputNumOfAdults.form-control(dir='rtl' name='adults', required='true', autofocus='true')
          option לא מגיעים
          option 1
          option 2
          option 3
          option 4
          option 5
          option 6
          option 7
          option 8
          option 9
          option 10
        br
        label(dir='rtl' for='inputNumOfChildren') מספר ילדים שמגיעים (מעל גיל 3)
        select#inputNumOfChildren.form-control(dir='rtl' name='children', required='true', autofocus='false')
          option לא מגיעים
          option 1
          option 2
          option 3
          option 4
          option 5
          option 6
          option 7
          option 8
          option 9
          option 10
        br
        label(dir='rtl' for='inputNumOfVeg') כמה מנות צמחוניות תרצו?
        select#inputNumOfVeg.form-control(dir='rtl' name='veg', required='true', autofocus='false')
          option 0
          option 1
          option 2
          option 3
          option 4
          option 5
          option 6
          option 7
          option 8
          option 9
          option 10
      div.form-group
        center
          button.btn.btn-primary(type='submit') שלח
      h4(dir='rtl' align='left') תודה, יהב ואורין
