doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://cdn.rtlcss.com/bootstrap/v4.0.0/css/bootstrap.min.css')
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    block head-content
  body
    block content
