extends layout

block content
  .container
    h4(dir='rtl') אופס!
    h4(dir='rtl') משהו בתהליך השתבש :(
    h5(dir='rtl') נסו בבקשה להיכנס מחדש לקישור והגישו את אישור ההגעה מחדש
    br
    h6(dir='rtl') אם התקלה חוזרת, אנא הודיעו לנו על כך
    h6(dir='rtl', align='left') יהב ואורין
    h6(align='left') yahavamsi@gmail.com
    br
    h6(dir='rtl') פרטי התקלה:
    h6(align='left')= error_details
